
.css1{
  
    background-color: bisque;
}
#barneg{
    height: 100%;
    width: 100%;
    /* top: 25px;
    height: 60%;
    left: 10px;
    width: 95%; */
    position: relative;
}
#scatter{
    height: 40%;
    width: 100%;
    /* bottom: 5px;
    left: 5px;
    width: 95%;
    height:200px; */
    position: relative;
}
#heatmap{
    
    
    width: 40%;
    height: 100%;
    position: relative;
}
#sankey{
    width: 40%;
    height: 50%;
    position: relative;
}
#rain{
    width: 40%;
    height: 100%;
    position: relative;
}