
.css1{
  
    background-color: bisque;
}
#barneg{
    height: 700px;
    width: 100%;
    /* top: 25px;
    height: 60%;
    left: 10px;
    width: 95%; */
    position: relative;
    display: inline-block;
}
#scatter{
    height: 300px;
    width: 100%;
    /* bottom: 5px;
    left: 5px;
    width: 95%;
    height:200px; */
    position: relative;
    display: inline-block;
}
#heatmap{
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
}
#sankey{
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
}
#rain{
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
}