
.css1{
  
    background-color: bisque;
}
.hhh{
    left: 10px;
    top: 5px;
  
  font-weight: bold;
  color: #ffb11b;
  margin-right: 4px;
  font-size: 20px;
}
#barneg{
    height: 700px;
    width: 50%;
    top: 25px;
    right: 10px;
    display: inline-block;
    position: absolute;
}
#sankey{
    width: 40%;
    height: 350px;
    display: inline-block;
    top: 100px;
    left: 10px;
    position: absolute;
}
#scatter{
    top: 600px;
    height: 400px;
    width: 95%;
    /* bottom: 5px;
    left: 5px;
    width: 95%;
    height:200px; */
    position: absolute;
}
#heatmap{
    
    top: 1000px;
    width: 95%;
    height: 350px;
    position: absolute;
}

#rain{
    top: 1360px;
    width: 95%;
    height: 350px;
    position: absolute;
}




/* 
.css1{
  
    background-color: bisque;
}
.hhh{
    left: 10px;
    top: 5px;
  content: "✔";
  font-weight: bold;
  color: #ffb11b;
  margin-right: 4px;
  font-size: 20px;
}
#barneg{
    height: 700px;
    width: 50%;
    top: 25px;
    left: 10px;
    display: inline-block;
    position: relative;
}
#sankey{
    width: 40%;
    height: 350px;
    display: inline-block;
    top: 25px;
    right: 10px;
    position: relative;
}
#scatter{
    height: 400px;
    width: 95%;
    /* bottom: 5px;
    left: 5px;
    width: 95%;
    height:200px; */
    position: relative;
}
#heatmap{
    
    
    width: 95%;
    height: 350px;
    position: relative;
}

#rain{
    width: 95%;
    height: 350px;
    position: relative;
} */